@font-face {
	font-family:paragraph;
	src: url(fonts/PlayfairDisplay-Regular.ttf);

}
@font-face {
	font-family: paragraph2;
	src: url(fonts/Lora-Regular.ttf);
}

#aboutpic1 {
	width:87%;
	height: 700px;
	padding-left: 5%;
}

.bill {
    background-color:  hsla(192, 15%, 99%, 0.5);
    padding-top: 15px;
    padding-bottom: 25px;
	font-family: paragraph;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-align: justify;
    
}

.bill p {
    margin-left: 25px;
    margin-right: 25px;
}

.bill h2 + p{
	font-family: paragraph2;
	text-align: center;
    
}
.bill h2 {
	text-align: center;
}

.bill h3{
    text-align: center;
}

.reference1 {
	font-family: regular;
	font-size: 14px;
    background-color:  hsla(192, 15%, 99%, 0.5);
    padding-left: 25px;
}

.reference1 a {
    color: #512E5F;
    font-family: cursive;
    font-weight: bold;
}

.Aboutleonilahill {
    background-color:  hsla(192, 15%, 99%, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}

.barangayfacilities {
    background-color:  hsla(192, 15%, 99%, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}

aside {
    float: right;
}
body {
    background-image: url(images/Ahome6.JPG);
    background-position: left bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: justify;
}


a:link{
    color:black;
    text-decoration: none;
    font-family: footer;
}

a:hover{
    color:#ff3300;
    text-decoration: none;
    font-family: footer;
}


/** about leonila hill .css part **/

.Aboutleonilahill h3 {
    font-family: heading,bold;
    font-size: 36px;
}

#aboutpic1 {
    width:60%;
    float:right;
}

.Aboutleonilahill p{
    font-family:regular ;
    font-size: 18px;
    line-height: 1.6em;

}