
@font-face {
	font-family:paragraph;
	src: url(fonts/PlayfairDisplay-Regular.ttf);

}
@font-face {
	font-family: paragraph2;
	src: url(fonts/Lora-Regular.ttf);
}

@font-face{
    font-family: paragraphabout;
     src: url(fonts/Merriweather-Light.ttf);
}

.bill {
    background-color:  hsla(192, 15%, 99%, 0.5);
    padding-top: 15px;
    padding-bottom: 25px;
	font-family: paragraph;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-align: justify;
    
}

.bill p {
    margin-left: 25px;
    margin-right: 25px;
}

.bill h2 + p{
	font-family: paragraph2;
	text-align: center;
    
}
.bill h2 {
	text-align: center;
}

.bill h3{
    text-align: center;
}

.reference1 {
	font-family: regular;
	font-size: 14px;
    background-color:  hsla(192, 15%, 99%, 0.5);
    padding-left: 25px;
}

.reference1 a {
    color: #512E5F;
    font-family: cursive;
    font-weight: bold;
}

.Aboutleonilahill {
    background-color:  hsla(192, 15%, 99%, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}

.barangayfacilities {
    background-color:  hsla(192, 15%, 99%, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}


aside {
    float: right;
}
body {
    background-image: url(images/Ahome6.JPG);
    background-position: left bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: justify;
}

/** about leonila hill .css part **/

.programs h3, .barangayfacilities h3 {
    font-family: paragraph;
    font-size:20px;
    text-indent: 30px;
}

.Aboutleonilahill h3 {
    font-family: heading,bold;
    text-align: center;
    font-size: 30px;
    text-indent: 30px;
}

#aboutpic1 {
    width: 100%;
    min-width:  50px;
    max-width: 600px;
    float:right;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}

.Aboutleonilahill p{
    font-family: paragraph2 ;
    font-size: 16px;
    line-height: 1.8em;
    margin-left: 15px;
    text-indent: 30px;
    padding-right: 15px;

}

.barangayfacilities p , .programs p {
    font-family: paragraph2 ;
    font-size: 15px;
    line-height: 1.8em;
    padding-right: 15px;
    text-indent: 30px;
    margin-left: 15px;
}

.reference1 a {
   text-decoration: none;
   font-family: footer;
   color:blue;
}

.reference1 a:hover{
    color: red;
    font-family: footer;
    text-decoration: underline;
}

.reference1 a:visited {
    text-decoration: none;
    font-family: footer;

}


