@font-face {
	font-family: paragraph1;
	src: url(fonts/Lora-Regular.ttf);
}

.barangaycanda {
    background-color: hsla(192, 15%, 99%, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}

h4 {
	font-family: header;
	text-align: center;
}

.barangaycanda h4{
	text-align: center;
}

p{
    font-family: paragraph1;
    text-align: center; 
    padding-left: 15px;
    padding-right: 15px;
}

.specialcommittees {
    background-color: hsla(192, 15%, 99%, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}

.specialcommittees h3, .barangaycanda h3{
	font-family: heading;
	text-align: center;
	font-size: 35px;
}

body {
    background-image: url(images/historybg.JPG);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}