#barangay h1, #barangay h3{
    font-size: 0;
    height: 0;
    margin: 0;
    visibility: hidden;
}

.barangaycanda h3{
	font-family: title1;
	text-align: center;
	 font-size:44px;
	 color:#6E2C00;


}

.barangaycanda h4{
	font-family: nav;
	text-align: center;
	 font-size:20px;

}

.barangaycanda p{
	font-family: paragraph1;
	text-align: center;
	 font-size:20px;
}

.barangaycanda{
	background-color: hsla(150, 50%, 40%,0.2);
	padding-top: 20px;
	padding-bottom:20px;

}

.specialcommittees h3{
	font-family: title1;
	text-align: center;
	 font-size:44px;
	 color:#6E2C00;
}

.specialcommittees h4{
	font-family: nav;
	text-align: center;
	 font-size:20px;

}

.specialcommittees p{
	font-family: paragraph1;
	text-align: center;
	 font-size:20px;

}

.specialcommittees{
	background-color: hsla(150, 50%, 40%,0.2);
	padding-top: 20px;
	padding-bottom:20px;
}
