@font-face{
    font-family: paragraph;
     src: url(Merriweather-Light.ttf);
}

.history h3{
    font-family: heading;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    
}

.history p {
    font-family: paragraph;
    font-size: 18px; 
    line-height: 1.5em;
    margin-left: 25px;
    margin-top: 2%;
    text-indent: 25px;
    text-align: justify;
}

.history #historypic {
    width: 100%;
    min-width: 100px;
    max-width: 600px;
    float: left;
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 15px;
    opacity: 0.9;
    background-color: #85929E ; 
}