@font-face{
    font-family: paragraph;
     src: url(Merriweather-Light.ttf);
}

.history h3{
    font-family: heading;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    
}

.history p {
    font-family: paragraph;
    font-size: 18px; 
    line-height: 1.5em;
    padding-top: 20px;
    margin-left: 25px;
    text-indent: 25px;
    padding-top: 3%;
}

.history #historypic {
    width: 45%;
    float: left;
    border-radius: 5px;
}


footer{
    font-family: footer;
    font-size: 15px;
    text-align: center;
    padding-top: 100px;
}
