#barangay h1, #barangay h3{
    font-size: 0;
    height: 0;
    margin: 0;
    visibility: hidden;
}

#historypic{
	width:80%;
	padding-left: 10%;
}

.history h3{
	font-family: title1;
	text-align: center;
	font-size:44px;
	color:#6E2C00;
}

.history p{
	font-family: paragraph1;
	text-align: center;
	font-size:20px;

}
.history{
	background-color: hsla(150, 50%, 40%,0.2);
	padding-top: 20px;
	padding-bottom: 20px;
}
