.aHome img{
    background-color: #58D68D;
}

.aHome {
    text-align: center;
    color: #784212;
    font-family: dancing, cursive;
    text-shadow: 2px 2px white;
    font-size: 500%;
    font-size-adjust: auto;
    border-radius: 10px;
}

.aHomeText {
    position: absolute;
    top: 57%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-weight: 900;
}

#aHome {
	width: 100%;
    height: 50%;
    opacity: 0.6;
    border-radius: 10px;
}

#home2 {
	width:50%;
	float: right;
}

.whatpar1 {
	float: right;
	width: 50%;
	box-sizing: border-box;
	padding-top: 50px;
	font-family: Goudy Old Style;
}

#home3 {
    width: 50%;
    padding-right: 10%;
    padding-top: 10%;
	
	
}

#list {

}

.whatpar2 {
	float: right;
	font-family: Georgia;


}

#home4 {
	width: 50%;

}

#home5 {
	width: 50%;

}

#home6{
	width: 50%;
}

html {
    background-image: url(../images/indexbg.JPG);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: screen width;
}

body {
    background-color: ;
    background-position: center;
}