.aHome {
    position: relative;
    text-align: center;
    color: #2F4F4F;
    font-family: chiller;
    text-shadow: 2px 2px white;
    font-size: 40px;
    background-color: #E0EEE0;
    border-radius: 10px;
    
}

.aHomeText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
}

#aHome {
	width: 100%;
    height: 50%;
    opacity: 0.6;
    border-radius: 10px;
}

#home2 {
	width:50%;
	float: right;
}

.whatpar1 {
	float: right;
	width: 50%;
	box-sizing: border-box;
	padding-top: 50px;
	font-family: Goudy Old Style;
}

#home3 {
    width: 50%;
    padding-right: 10%;
    padding-top: 10%;
	
	
}

#list {

}

.whatpar2 {
	float: right;
	font-family: Georgia;


}

#home4 {
	width: 50%;

}

#home5 {
	width: 50%;

}

#home6{
	width: 50%;
}

body {
    background-image: url(../images/indexbg.JPG);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}