
h3 {
    font-family: header;
}

.aHome {
    position: relative;
    text-align: center;
    border-radius: 10px;
    resize: both;
}

.aHome img{
    visibility: hidden;
    width: 100%;
    background-color: #58D68D;
    border-radius: 10px;
    background: url(../images/styledAhome.jpg);
}

.aHome > div {
    position: absolute;
    top: 2.4 vw;
    left: 2.4 vw;
    color: black;
    font-family: heading, cursive;
    font-size: 4vw;
    font-size-adjust: 0.98;
    text-shadow: 2px 2px darkgreen;
    font-weight: 500px;
    letter-spacing: 1px;
    transform: translate(-50%,-50%);
}

#home2 {
    width:100%;
    max-width: 600px;
    float: right;
    border-spacing: 50px;
   
}
.whatpar1 {
    width: 50%;
    box-sizing: border-box;
    font-family: paragraph;
    font-size: 22px;
    word-spacing: 5px;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 25px;

}



#home3 {
    width: 90%;
    padding-top: 10%;
    box-sizing: border-box;
    padding-left: 5%;
    
    
}

#list {
    font-family: paragraph;
    font-size: 22px;

}

.whatpar2 {
    font-family: paragraph;
    font-size: 22px;
    width:50%;
    box-sizing: border-box;
    word-spacing: 5px;


}

.whyleonilapharagraph1{
    font-family: paragraph;
    font-size: 22px;
    width: 50%;
}

#home4 {
    width: 50%;
    box-sizing: border-box;
    float: right;
    word-spacing: 5px;


}

#home5 {
    width:90%;
    padding-top: 10%;
    padding-left: 5%;


}

.whyleonilapharagraph2 {
    font-size: 20px;
    font-family: paragraph;
    text-align: center;
}

.whyleonilapharagraph3 {
    font-size: 22px;
    font-family: paragraph;
    float :right;
    box-sizing: border-box;
    width: 50%;
    padding-left: 10px;
    line-height: 1.4em;
    padding-top: 10%;
    text-indent: 25px;

}

#home6{
    width: 50%;
    box-sizing: border-box;
    padding-top: 20px;

}

body {
    background-color: ;
    background-position: center;
}

footer{
    font-family: footer;
    font-size: 15px;
    text-align: center;
    padding-top: 100px;
}
