.aHome {
    position: relative;
    overflow: hidden;
}

#aHome {
    width: 100%;  
}

.aHomeText {
    position: absolute;
    top: 35%;
    width: 100%;
    height: 10%;
    border: none;
    transition: .5%;
    text-align: center;
    background-color: rgba(171, 235, 198, 0.5);
    font-size: 3.5vw;
    padding-top: 5%;
    padding-bottom: 5%;
}

