
h3 {
    font-family: header;
}

.aHome {
    text-align: center;
    resize: both;
    background-color: hsla(192, 15%, 99%, 0.5);
}

.aHome img{
    width: 100%;
    min-width: 300px;
    max-width: 1150px;
    border-radius: 10px;
    float: bottom;
}

.aHome > div {
    color: #2E4053;
    font-family: heading, cursive;
    font-size: 4vw;
    text-shadow: 2px 2px #BFC9CA;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%; 
    margin-left: 2vw;
    max-width: 1150px;
    min-width: 300px;
    padding-top: 15px;
}

#home2 {
    width:100%;
    max-width: 600px;
    float: left;
    border-spacing: 50px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.paragraph1 , .paragraph2 {
    background-color: hsla(192, 15%, 99%, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

}

.whatpar1 {
    font-family: paragraph;
    font-size: 22px;
    word-spacing: 5px;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 25px;
    padding-top: 45px;
    padding-bottom: 45px;
}

#home3 {
    width: 100%;
    max-width: 600px;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

#list {
    font-family: paragraph;
    font-size: 22px;

}

.whatpar2 {
    font-family: paragraph;
    font-size: 22px;
    word-spacing: 5px;
    text-align: justify;
    text-indent: 25px;
    padding-top: 25px;
}

.whyleonilapharagraph1{
    font-family: paragraph;
    font-size: 22px;
    text-align: justify;
    text-indent: 25px;
    padding-top: 25px;
    padding-bottom: 35px;
}

.paragraph2 h3 {
    padding-top: 25px;
}

#home4 {
    width: 100%;
    max-width: 600px;
    word-spacing: 5px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;

}

#home5 {
    width: 100%;
    max-width: 500px;
    float:  right;
    margin-left: 15px;
    margin-bottom: 15px;

}

.whyleonilapharagraph2 {
    font-size: 20px;
    font-family: paragraph;
    text-align: justify;
    text-indent: 25px;
}

.whyleonilapharagraph3 {
    font-size: 22px;
    font-family: paragraph;
    line-height: 1.4em;
    text-indent: 25px;
    text-align: justify;

}

#home6{
    width: 100%;
    max-width: 500px;
}

body {
    background-image: url(images/indexbg.JPG);
    background-attachment: fixed;
    background-position: right;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

img {
    border-radius: 5px;
}