
h3 {
    font-family: header;
}
.aHome img{
    background-color: #58D68D;
}

.aHome {
    text-align: center;
    border-radius: 10px;
}

.aHomeText {
    position: absolute;
    left: 50%;
    top:45%;
    color: black;
    font-family: heading, cursive;
    font-size: 350%;
    font-size-adjust: auto;
    text-shadow: 2px 2px darkgreen;
    font-weight: 500px;
    letter-spacing: 1px;
    transform: translate(-50%,-50%);
}

#aHome {
    width: 100%;
    height: 50%;
    opacity: 0.9;
    border-radius: 10px;
}


#home2 {
    width:50%;
    float: right;
    border-spacing: 50px;
   
}
.whatpar1 {
    width: 50%;
    box-sizing: border-box;
    font-family: paragraph;
    font-size: 22px;
    word-spacing: 5px;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 25px;

}



#home3 {
    width: 90%;
    padding-top: 10%;
    box-sizing: border-box;
    padding-left: 5%;
    
    
}

#list {
    font-family: paragraph;
    font-size: 22px;

}

.whatpar2 {
    font-family: paragraph;
    font-size: 22px;
    width:50%;
    box-sizing: border-box;
    word-spacing: 5px;


}

.whyleonilapharagraph1{
    font-family: paragraph;
    font-size: 22px;
    width: 50%;
}

#home4 {
    width: 50%;
    box-sizing: border-box;
    float: right;
    word-spacing: 5px;


}

#home5 {
    width:90%;
    padding-top: 10%;
    padding-left: 5%;


}

.whyleonilapharagraph2 {
    font-size: 20px;
    font-family: paragraph;
    text-align: center;
}

.whyleonilapharagraph3 {
    font-size: 22px;
    font-family: paragraph;
    float :right;
    box-sizing: border-box;
    width: 50%;
    padding-left: 10px;
    line-height: 1.4em;
    padding-top: 10%;
    text-indent: 25px;

}

#home6{
    width: 50%;
    box-sizing: border-box;
    padding-top: 20px;

}


/*
html {
    background-image: url(../images/indexbg.JPG);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: screen width;
}
*/
body {
    background-color: ;
    background-position: center;
}

footer{
    font-family: footer;
    font-size: 15px;
    text-align: center;
    padding-top: 100px;
}
