@font-face{
    src:url("fonts/GreatVibes-Regular.ttf");
    font-family: title1;
}

@font-face{
    src:url("fonts/Cinzel-Regular.ttf");
    font-family: nav;
}
@font-face{
    src:url("fonts/PT_Serif-Web-Regular.ttf");
    font-family: titlepar1;
}

@font-face{
    src:url("fonts/Montserrat-Regular.ttf");
    font-family:footer;
}

@font-face{
    src:url("fonts/Bellefair-Regular.ttf");
    font-family: paragraph1;
}

#barangay h1, #barangay h3{
    visibility: hidden;
}

#barangay img {
    position: absolute;
    top: 0;
    right: 1px;
    width: 50px;
    z-index: 2;
    height: 50px;
    visibility: visible
}



nav {
    overflow: hidden;
    background-color: rgba(77, 86, 86 ,0.9);
    font-family: nav;
    width: 100%;
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 0%;   
    z-index: 1;
    padding-bottom: 0;
    margin-bottom: 0;
}

nav a {
    float: left;
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: nav;
    font-weight: 500;
    
}


.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    color: white;
    padding: 14px 14px;
    font-family: nav;
    background-color: inherit;
    font-weight: 500;
}

nav a:hover, .dropdown:hover .dropbtn {
    text-decoration: underline;
    animation: navi 1s infinite;
}

@keyframes navi {
    0% {background: rgba(77, 86, 86 ,0.9); color: white;}
    100% {background: rgba(40, 55, 71 , 0.9); color: rgb (208, 211, 212);}
}

.content {
    display: none;
    position: fixed;
    background-color: rgba(249, 254, 252, 0.7);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 51px;
}

.content a {
    color: #2E4053 ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: rgba(77, 86, 86 ,0.3);
}

.content a:hover {
    background-color:  #784212 ;
    color:#ff6600 ;  
}

.dropdown:hover .content {
    display: block;
    
}

body {
    background-image: url(images/indexbg.JPG);
    background-attachment: fixed;
    background-position: center;
    padding: 0;
    margin: 0;
}

header {
    background-color: hsla(178, 186, 187, 0.5);
    border: none;
    color: #212F3C ;
    
}

footer {
    padding: inherit;
    padding-top: 100px;
    background-color: rgba(77, 86, 86 ,0.9);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: footer;
    font-size: 15px;
    text-align: center;
    bottom: 0;
    color: white; 

}


body {
    background-image: url(images/indexbg.JPG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

