.container {
    background-color: #7DCEA0;
    background-image: ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

#barangay {
    font-weight: bolder; 
}

#barangay h1{
    font-family:  ;
    line-height: 1px;
    font-size: 5vw;
    min-width: 100%;
    background-color: #FBEEE6 ;
    text-align: center;
}

#barangay h3{
    text-align: center;
    font-family: regular;
    letter-spacing: 3px;
    line-height: 10px;
}

#barangay img{
	height: 100px;
	width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
}

nav {
    overflow: hidden;
    background-color: #EAEDED;
    font-family: ;

}

nav a {
    float: left;
    font-size: 17px;
    color: #6E2C00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 1px;
}


.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: #6E2C00;
    padding: 14px 14px;
    font-family: regular;
    background-color: inherit;
}

nav a:hover, .dropdown:hover .dropbtn {
    background-color: #5D6D7E   ;
    color: #CCD1D1 ;
}

.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content a {
    color: #2E4053 ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.content a:hover {
    background-color: #5D6D7E;
    color: #CCD1D1 ;  
}

.dropdown:hover .content {
    display: block;
    
}

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: hsla(192, 15%, 99%, 0.5);
    border: none;
    color: #212F3C ;
    
}

footer {
    padding: inherit;
    padding-top: 100px;
    background-color: hsla(192, 15%, 99%, 0.5);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: footer;
    font-size: 15px;
    text-align: center;
    color: #212F3C ;
}
