header {
    font-family: ;
    font-size: 18px;
    
}

h1{
    
    
}
#barangay img{
	height: 90px;
	width: 90px;
	float: right;
	padding:none;
	margin: none;
}

nav {
    overflow: hidden;
    background-color: #82E0AA;
    font-family: Arial;
    border-radius: 5px;
}

nav a {
    float: left;
    font-size: 17px;
    color: #6E2C00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 0.5px 0.5px #6E2C00;
    
}

.dropdown {
    float: left;
    overflow: hidden;
   
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: #6E2C00;
    padding: 13px 14px;
    background-color: inherit;
    margin: 0;
    text-shadow: 0.5px 0.5px #6E2C00;
}

nav a:hover, .dropdown:hover .dropbtn {
    background-color: #6E2C00;
    color: #82E0AA;
}

.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content a {
    float: none;
    color: #6E2C00;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.content a:hover {
    background-color: #ddd;
}

.dropdown:hover .content {
    display: block;
    
}

body {
    padding-left: 5%;
    padding-right: 5%;
}