@font-face{
    src:url("fonts/GreatVibes-Regular.ttf");
    font-family: title1;
}

@font-face{
    src:url("fonts/Cinzel-Regular.ttf");
    font-family: nav;
}
@font-face{
    src:url("fonts/PT_Serif-Web-Regular.ttf");
    font-family: titlepar1;
}

@font-face{
    src:url("fonts/Montserrat-Regular.ttf");
    font-family:footer;
}

@font-face{
    src:url("fonts/Bellefair-Regular.ttf");
    font-family: paragraph1;
}



.container {
    background-color: #7DCEA0;
    background-image: ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

#barangay {
    font-weight: bolder;  
}

#barangay {
     font-family: title1;
     color:#6E2C00;
}

#barangay h1{
    line-height: 1px;
    font-size: 5vw;
    min-width: 100%;
    background-color:  #7DCEA0 ;
    text-align: center;
    font-size:44px;
}

#barangay h3{
    text-align: center;
    letter-spacing: 3px;
    line-height: 12px;
}

#barangay img{
	height: 100px;
	width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
}

nav {
    overflow: hidden;
    background-color: rgba(77, 86, 86 ,0.3);
    font-family: nav;
    width: 100%;
    text-align: center;
    display: inline-block;
}

nav a {
    float: left;
    font-size: 17px;
    color: #6E2C00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: nav;
}


.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    color: #6E2C00;
    padding: 14px 14px;
    font-family: nav;
    background-color: inherit;
}

nav a:hover, .dropdown:hover .dropbtn {
    background-color: #6E2C00   ;
    color: #ff6600 ;
}

.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content a {
    color: #2E4053 ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: rgba(77, 86, 86 ,0.3);
}

.content a:hover {
    background-color:  #6E2C00;
    color:#ff6600 ;  
}

.dropdown:hover .content {
    display: block;
    
}

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: hsla(178, 186, 187, 0.5);
    border: none;
    color: #212F3C ;
    
}

footer {
    padding: inherit;
    padding-top: 100px;
    background-color:#7DCEA0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: footer;
    font-size: 15px;
    text-align: center;
    bottom: 0;
    color:#1f4747; 

}


body {
    background-image: url(images/indexbg.JPG);
    background-attachment: fixed;
    background-position: center;
}

