@font-face {
    font-family: heading;
    src: url(DancingScript-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(Nunito-Regular.ttf);
}

html {
    width: device-width;
}   
.container {
    background-color: #FBEEE6;
    border: none;
    border-bottom-left-radius: 170px;
    border-top-left-radius: 20px;
    border-top-right-radius: 110px;
    border-bottom-right-radius: 15px;
    width=100%;  
}
#barangay {
    font-weight: bolder; 
}

#barangay h1{
    font-family: heading, cursive;
    font-size: 90px;
    line-height: 1px;
    margin-top: 90px;
}

#barangay h3{
    line-height: 20px;
    margin-bottom: 30px;
    float: left;
    margin-right: 20px;
    font-family: regular;
    letter-spacing: 3px;
    
}

#barangay img{
	height: 180px;
	width: 180px;
	float: left;
	margin-right: 20px;
    margin-top: -70px;
}

nav {
    overflow: hidden;
    background-color: #EAEDED;
    font-family: regular;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 6px;
}

nav a {
    float: left;
    font-size: 17px;
    color: #6E2C00;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 0.5px 0.5px #6E2C00;
}

.dropdown {
    float: left;
    overflow: hidden;
   
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: #6E2C00;
    padding: 14px 14px;
    font-family: regular;
    background-color: inherit;
    margin: 0;
    text-shadow: 0.5px 0.5px #6E2C00;
}

nav a:hover, .dropdown:hover .dropbtn {
    background-color: #6E2C00;
    color: #82E0AA;
}

.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content a {
    float: none;
    color: #6E2C00;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.content a:hover {
    background-color: #ddd;
}

.dropdown:hover .content {
    display: block;
    
}

body {
    padding-left: 5%;
    padding-right: 5%;
}

footer {
    color: black;
    background-color: #82E0AA;
    width: 100%;
    border-radius: 5px;
}

#disclaimer {
    
    
}