@font-face{
    font-family: name;
    src:url("fonts/Cinzel-Regular.ttf")
}
@font-face{
	font-family: role;
    src:url("fonts/Kavivanar-Regular.ttf")

}

.barangayofficials h3{
	font-family: title1;
	text-align: center;
	 font-size:44px;
	 color:#6E2C00;


}

.barangayofficials h4{
	font-family: nav;
	text-align: center;
	 font-size:20px;

}

.barangayofficials p{
	font-family: paragraph1;
	text-align: center;
	 font-size:20px;
}

.barangayofficials{
	background-color: hsla(150, 50%, 40%,0.2);
	padding-top: 20px;
	padding-bottom: 20px;
}


body {
    background-image: url(images/indexbg.JPG);
    background-attachment: fixed;
    background-position: center;
}
