.contentvands {
    text-align: justify;
    margin-left: 15px;
    margin-bottom: 25px;
    
}

.contentvands #vam1 {
    width: 100%;
    min-width: 100px;
    max-width: 600px;
    opacity: 0.7;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #85929E ; 
    border-radius: 5px;

}

.vision {
    text-indent: 25px;
    font-family: regular;
    color: black;
    line-height: 25px;
    letter-spacing: 1px;
    
}

.mission {
    text-indent: 25px;
    font-family: regular;
    color: black;
    line-height: 25px;
    letter-spacing: 1px;
}

.contentvands h3 {
    font-family: heading, bold;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 900px;
    margin-top: 25px;
}

