.contentvands {
    text-align: justify;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    background-color: hsla(192, 15%, 99%, 0.5);
}

.contentvands #vam1 {
    width: 100%;
    min-width: 100px;
    max-width: 600px;
    opacity: 0.95;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #85929E ; 
    border-radius: 5px;
    
}

.vision {
    text-indent: 25px;
    font-family: regular;
    color: black;
    line-height: 25px;
    letter-spacing: 1px;
    margin-right: 15px;
}

.mission {
    text-indent: 25px;
    font-family: regular;
    color: black;
    line-height: 25px;
    letter-spacing: 1px;
    margin-right: 15px;
}

.contentvands h3 {
    font-family: heading, bold;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
    color: #212F3C;
}
body {
    background-image: url(images/vandmpic.jpg);
    background-attachment: fixed;
    background-position: left bottom;
    background-repeat: no-repeat;
}

