#vam1{
	width:100%;
	height: 800px;
}

.contentvands {
	background-color: hsla(150, 50%, 40%,0.2);
	padding-bottom: 10px;
}
.contentvands p{
	font-family: paragraph1;
	text-align: center;
	 font-size:26px;
}

.contentvands h3{
	font-family: title1;
	text-align: center;
	 font-size:44px;
	 color:#6E2C00;

}


body {
    background-image: url(images/indexbg.JPG);
    background-attachment: fixed;
    background-position: center;
}

