@font-face{
    src:url("fonts/NanumPenScript-Regular.ttf");
    font-family: title;
}

@font-face{
    src:url("fonts/Bellefair-Regular.ttf");
    font-family: paragraph1;
}


.aHome {
    position: relative;
    overflow: hidden;
    background-color: rgba(233,212,179,0.5);
    padding-top: 3px;
}

.container {
    border: none;
    padding-top: 50px;
}

#barangay {
    font-weight: bolder; 
    font-family: title1;
    color:#6E2C00;
    padding: 30px;
    margin-top: 0;
    background: linear-gradient(to bottom, rgba(243,226,199,0.7) 20%,rgba(193,158,103,0.7) 50%,rgba(182,141,76,0.7) 55%,rgba(233,212,179,0.7) 90%);
}

#barangay h1{
    font-size: 5vw;
    min-width: 100%;
    text-align: center;
    visibility: visible;
    letter-spacing: 10px;
    margin: 0;
}

#barangay h3{
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
    visibility: visible;
}

#aHome {
    width: 98%; 
    opacity: 0.9 ;
    z-index: -1;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aHomeText {
    visibility: hidden;
}

.aHome:hover #aHome{
    width: 95%; 
    transition: 100s ease;
    backface-visibility: hidden;
    display: block;
    opacity: 1;
    z-index: -1;
}

.aHome:hover .aHomeText{
    color: #6E2C00;
    position: absolute;
    top: 32%;
    width: 100%;
    height: 10%;
    border: none;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
    text-align: center;
    background: linear-gradient(135deg, rgba(35,35,18,0.5) -1%,rgba(243,226,199,0.5) 0%,rgba(153,165,152,0.5 ) 34%,rgba(155,155,155,0.5) 61%,rgba(233,212,179,0.5) 100%); 
    font-size: 4.3vw;
    padding-top: 5%;
    padding-bottom: 5%;
    visibility: visible;
    border: none;
}
.aHomeText {
    position: absolute;
    top: 35%;
    width: 100%;
    height: 10%;
    border: none;
    text-align: center;
    font-size: 3.5vw;
    font-family: title1;
    font-size: 56px;

}

.paragraph1 , .paragraph2 {
     background-color: hsla(150, 50%, 40%,0.2);
    padding:0;
    margin: 0;
    text-align: center;
}


.paragraph1 h3{
    padding-bottom: 20px;
    margin: 0;
    font-family: title1;
    font-size: 44px;
    color:#6E2C00;
    padding-left: 10px;
    padding-top: 50px; 
    text-align: center;
}
.paragraph2 h3{
   
    padding-bottom: 20px;
    margin: 0;
    font-family: title1;
    font-size: 44px;
    color:#6E2C00;
    padding-left: 10px;
    margin-left: 10px;
    padding-top: 20px; 
    text-align: center;
}

#list{
    padding-bottom: 20px;
    margin: 0;
    font-family: nav;
    font-weight: 600;
    padding-left: 10px;
    margin-left: 10px;
    list-style-position: inside;
    text-align: center;
    font-size: 20px;
}


#home2 ,#home3, #home4, #home5,#home6{
    width: 80%;
    right: 0;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
   }


.whatpar1, .whatpar2, .whyleonilapharagraph1 , .whyleonilapharagraph2 , .whyleonilapharagraph3 {
    margin: 0;
    font-family: paragraph1;
    font-size:26px;
    line-height: 1.5em;
    text-indent: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: center;

}


